<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Energy Management System</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/logo.png" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="./home-page.component.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#!">EMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/welcome/home-page">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/welcome/login-page">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header - set the background image for the header in the line below-->
<header class="py-1 bg-image-full" style="background-image: url('../../../assets/wallpaper1.jpg')">
  <div style="height: 4rem"></div>
  <div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-2" src='./assets/small_logo.png' alt="..." />
    <h1 class="text-black fs-3 fw-bolder">Energy Management System</h1>
    <p class="text-black-50 mb-0">Your energy assistant</p>
  </div>
</header>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>It's a pleasure to meet you</h2>
        <p class="lead">Join us on a journey to a more sustainable and efficient future. Explore the features and benefits of our Energy Management System, and discover how you can make a positive impact on your energy usage, costs, and the environment</p>
        <p class="mb-0"> we understand that managing energy effectively is not just a choice; it's a necessity. Our EMS empowers you to take control of your energy consumption, streamline operations, and make informed decisions that benefit both your bottom line and the planet. With cutting-edge technology, real-time monitoring, and data-driven insights, our system transforms the way you interact with energy.</p>
      </div>
    </div>
  </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('./assets/wallpaper2.jpg')">F
  <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
  <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>About our work</h2>
        <p class="lead"> In today's world, where energy resources are finite and environmental concerns are ever-growing, the need for efficient and responsible energy management has never been more critical. Whether you are a homeowner looking to reduce your carbon footprint, a business owner aiming to optimize operational costs, or a utility company striving for grid reliability, our Energy Management System (EMS) offers a comprehensive solution to meet your needs.</p>
        <p class="mb-0"> Our Energy Management System is designed with your unique needs in mind, offering a wide range of features and capabilities that cater to residential, commercial, and industrial settings. Whether you seek to reduce energy waste, increase energy efficiency, or integrate renewable energy sources, our EMS provides the tools to help you achieve your goals.</p>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; EMS 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>

